@model IEnumerable<Product>
<style>
	.truncate-6-lines {
		display: -webkit-box;
		-webkit-line-clamp: 6;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		height: 9em;
	}
	.row-centered {
		justify-content: center;
	}
	.col-centered {
		display: flex;
		align-items: center;
	}
</style>
<div class="row pb-3 row-centered">
	@foreach (var product in Model)
	{
		<div class="col-lg-3 col-sm-6 col-centered">
			<div class="row p-2">
				<div class="col-12 p-1">
					<div class="card border-0 p-3 shadow border-top border-5 rounded h-100">
						<img src="@product.ImageUrl" class="card-img-top" style="height:350px; object-fit:cover;" />
						<div class="card-body pb-0 d-flex flex-column">
							<div class="pl-1 mb-auto">
								<p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@product.Name</p>
								<p class="card-title truncate-6-lines text-secondary text-center">@product.Description</p>
							</div>
							<div class="pl-1">
								<p class="text-dark opacity-75 text-center">
									Product Price: <span>₹ @product.Price</span>
								</p>
							</div>
							<div class="mt-auto">
								<a asp-action="Details" asp-route-productId="@product.Id" class="btn btn-primary bg-gradient border-0 form-control">
									Details
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	}
</div>